<article class='login-main-container'>
  <section class='demo-login-info'>
    <h2>Demo Information</h2>
    <hr>
    <div class="admin-info">
      <div class="row">
        <div class="col">
          <h4>Username</h4>
          <p>Coming soon</p>
        </div>
        <div class="col">
          <h4>Password</h4>
          <p>Coming soon</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="user-info">
      <div class="row">
        <div class="col">
          <h4>Username</h4>
          <p>user</p>
        </div>
        <div class="col">
          <h4>Password</h4>
          <p>123</p>
        </div>
      </div>
    </div>
  </section>
  <section class='login-box'>
    <%= form_tag '/login', method: :post do %>
      <%= label_tag 'Username' %><br>
      <%= text_field_tag :username, nil, required: true %><br><br>

      <%= label_tag 'Password' %><br>
      <%= password_field_tag :password, nil, required: true  %><br><br>

      <div class='sbdp-submit'>
        <%= submit_tag 'Login' %>
      </div>
    <% end %>
    <br>New User? <%= link_to 'Register', '/users/new' %>
  </section>
</article>
