<article class='new-user-main'>
  <section class='new-user-sub'>
    <%= form_tag '/users', method: :post do %>
    <div class="row">
      <div class="col">
        <%= label_tag 'Username/email' %><br>
        <%= text_field_tag :username, nil, required: true %><br><br>
      </div>
      <div class="col">
        <%= label_tag 'Password' %><br>
        <%= password_field_tag :password, nil, required: true  %><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= label_tag 'First Name' %><br>
        <%= text_field_tag :first_name, nil, required: true  %><br><br>
      </div>
      <div class="col">
        <%= label_tag 'Last Name' %><br>
        <%= text_field_tag :last_name, nil, required: true  %><br><br>
      </div>
    </div>
    <div class="row">
        <div class="col">
          <%= label_tag 'Address' %><br>
          <%= text_field_tag :address, nil, required: true  %><br><br>
        </div>
        <div class="col">
          <%= label_tag 'City' %><br>
          <%= text_field_tag :city, nil, required: true  %><br><br>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <%= label_tag 'State' %><br>
        <%= text_field_tag :state, nil, required: true  %><br><br>
      </div>
      <div class="col">
        <%= label_tag 'Zip' %><br>
        <%= text_field_tag :zip, nil, required: true %><br><br>
      </div>
    </div>
    <div class="row">
      <%= submit_tag 'Create Account' %>
    </div>
    <% end %>
  </section>
</article>
