<article class='new-user-main'>
  <section class='new-user-sub'>
    <%= form_for @user do |f| %>
    <div class="row">
      <div class="col">
        <%= f.label 'Username/email' %><br>
        <%= f.text_field :username %><br><br>
      </div>
      <div class="col">
        <%= f.label 'Password' %><br>
        <%= f.password_field :password %><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.label 'First Name' %><br>
        <%= f.text_field :first_name %><br><br>
      </div>
      <div class="col">
        <%= f.label 'Last Name' %><br>
        <%= f.text_field :last_name %><br><br>
      </div>
    </div>
    <div class="row">
        <div class="col">
          <%= f.label 'Address' %><br>
          <%= f.text_field :address %><br><br>
        </div>
        <div class="col">
          <%= f.label 'City' %><br>
          <%= f.text_field :city %><br><br>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.label 'State' %><br>
        <%= f.text_field :state %><br><br>
      </div>
      <div class="col">
        <%= f.label 'Zip' %><br>
        <%= f.text_field :zip %><br><br>
      </div>
    </div>
    <div class="row">
      <%= f.submit %>
    </div>
    <% end %>
  </section>
</article>
