<div class='profile-container'>
  <div class='welcome-message'>
    <%= render partial: "header" %>
  </div>
  <article class='profile-main'>
    <%= render partial: "nav_profile" %>
    <section class='profile-content'>
      <div class="row">
        <h3>Password Update</h3>
      </div>
      <div class="row">
        <div class="col pass-box">
          <%= form_tag '/user/profile/password', method: :patch do %>
            <%= password_field_tag :password %><br><br>
            <%= submit_tag "Update Password" %>
          <% end %>
        </div>
        <div class="col">
          Password must contain:
          <ul>
            <li>At least 6 characters</li>
            <li>Contain one number (0-9)</li>
            <li>One special character (!@#$%^&*)</li>
            <li>One capital letter</li>
          </ul>
        </div>
      </div>

    </section>
  </article>
</div>
