<!DOCTYPE html>
<html>
  <head>
    <title>Hotel Gari</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <nav class='navbar'>
      <div class="navbar-left">
        <%= link_to 'ACCOMODATIONS', '/acommodations', class: 'navbar-link' %>
        <%= link_to 'AMENITIES', '/benefits', class: 'navbar-link' %>
      </div>
      <div class="navbar-center">
        <%= link_to 'Hotel Gari', '/', class: 'navbar-link', id: 'company-title' %>
      </div>
      <div class="navbar-right">
        <%= link_to "BOOK", '/booking', class: 'navbar-link' %>
        <%= link_to "LOGIN", '/login', class: 'navbar-link' %>
      </div>
    </nav>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
